body {
}

.svg-container {
  width: 500px;
  height: 500px;
  background: #000;
}

.filter,
.duplicated {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background: #eee;
}

svg.active .shadow {
  fill: #ff8080;
  transition: transform 250ms;
}
